@import 'index';
.content{
    margin-bottom: 10px;
}
.humberger{
    display: none;
    span{
        width: 25px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        display: block;
        // 原因是因為span預設display是inline，其具有無佔據寬高的特性，
        // 因此改為此，才能吃下其寬高的設定
        margin-bottom: 4px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    .humberger{
        display: block;
    }
    .content{
        position: relative;
    }
    .header-menu{
        &:checked{
            ~ .header-menu{
                display: flex;
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                background: inherit;
                justify-content: center;
                padding-top: 20px;
                ul {
                    flex-direction: column;
        
                    li {
                        margin-bottom: 40px;
                        margin-right: 0;
                    }
                }
              }  
        }
    }
}

#swich{
    display: none;
    &:checked{
      ~ .humberger{
           span{
                    background-color: red;
                    transition: transform 0.3s;  
                &:nth-child(2) {
                    visibility: hidden;
                }
                &:first-child{
                    transform: rotate(45deg);
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
       
             
                }
        }
    }
}    

